/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/**
helpers
******/

.primary{
  background: #C99768;
}
.bg-dark {
  background: #292929;
}
.text-primary{
  color:#C99768;
}
.text-primary{
  color: #C99768;
}

.primary-hover:hover{
   background: #68c978;
}
section {
  padding: 50px 5px;
  overflow: hidden;
}
 body{
  color: #333;
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.625;
 }

nav ul a,
nav .brand-logo {
  color: #fff;
}
nav ul li a {
   font-size: 1.3rem;
}

.banner-content {
  background: #ffffffb8;
}
p {
  line-height: 3rem;
}
.banner-content p {
  font-weight: 700;
}

.sidenav-trigger {
  color: #26a69a;
}
#index-banner{
  display: flex;
  align-items: center;
}
.parallax-container {
  min-height: 580px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
#services {
  font-size: 1.3rem;
    color: #fff;
}


  .carousel-item img{
    width: 300px;
  }
  footer {
    background: #292929;
  }

  .contacts-footer ul li a {
    font-size: 1.2rem;
  }
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  body{
    font-size: 14px;
    font-size: 1.3rem;
  }
  section {
    padding: 30px 5px;
  }
  #nav-mobile{
    width: 238px;
    padding-top: 20px;
    background:rgba(0, 0, 0, 1);
  }

  #nav-mobile li a {
    color: #fff;
    font-size: 2rem;
  }

  #nav-mobile li:first-child:hover  {
    background: rgba(0, 0, 0, 1);;
   
  }
 
  #index-banner .section {
    top: 0;
  }
  #services  img {
    width: 100%;
  }

  #services {
    font-size: 1rem;
      color: #fff;
  }
  #consult h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
